@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.nav__buttons {
  display: flex;
  justify-content: space-between;
}

.nav__title {
  text-transform: capitalize;
  font-size: 25px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

@media (max-width: 768px) {
  .nav__title {
    font-size: 20px;
  }
}

.nav__buttons-btn-ghost {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  padding: 7px 10px;
  margin-left: 35px;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 800ms ease;
}
.nav__buttons-btn-ghost:hover {
  color: #fff;
  background-color: #000;
}
.nav__button {
  border: none;
}

.products-list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  padding: 1rem;
}

@media (max-width: 1280px) {
  .products-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1024px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .products-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.delete-checkbox{
  float: left;
  cursor: pointer;
}

.product-description {
  text-align: center;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid black;
  margin-right: 1rem;
  margin-left: 1rem;
}

#product_form {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.type_container {
  border: 2px solid black;
  padding: 1rem;
  margin-top: 10px;
  width: max-content;
}

.input_label {
  margin-top: 10px;
}

input {
  margin-left: 15px;
  font-size: 20px;
  float: right;
}


select {
  margin-left: 15px;
  font-size: 20px;
  float: right;
}

label{
  font-size: large;
}
.type_description {
  margin-top: 10px;
}

.spinner {
  width: 26rem;
  /* margin-top: 5rem;
  margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -50%);
}
