@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.home{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav{
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.nav__buttons{
  display: flex;
  justify-content: space-between;
}

.nav__title{
  text-transform: capitalize;
  font-size: 25px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

@media (max-width: 768px) {
  .nav__title {
    font-size: 20px;
  }
}



.nav__buttons-btn-ghost{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #000;
  padding: 7px 10px;
  margin-left: 35px;
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 800ms ease;
}
.nav__buttons-btn-ghost:hover{
  color: #fff;
  background-color: #000;
}
.nav__button{
  border: none;
}

/* @media (max-width: 768px) {
  .nav__buttons-btn-ghost {
    font-size: 10px;
  }
} */

.products-list{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 2rem;
  padding: 1rem;
}

@media (max-width: 1280px) {
  .products-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 1024px) {
  .products-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .products-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.card {
  display: flex;
  flex-direction: column;
  /* border-radius: 1rem; */
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.product-description{
  text-align: center;
}

footer{
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid black;
  margin-right: 1rem;
  margin-left: 1rem;
  
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
